body {
	background: #E9FAFA;
}
.header {
	margin-top: 10px;
	background: #FFFFFF;
}
.header-left {
	color: #003D79;
	padding:20px 10px 20px 20px;
	width: 40%;
	float: left;
	
}
.header-left h2{
	margin: 0;
}
.header-left h2 strong {
	color: #F57E26;
}

.header-left img{
	width: 50px;
	height: 70px;
	float: left;
	margin-right: 10px;
}

 .header-right {
	color: #003D79;
	padding:20px 10px 20px 20px;
	float: right;
}
.btn {
	margin-top: 8px;
}

                /*main area*/
				
.main-area {
	margin-top: 5px;
	background: #EAEAEA;
}	

.nav-area {
	padding: 6px;
}	

.navli a {
	background: #FAFBFF;
}		
				
				
				
				
				
				
				
				